/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* Typography */
 h2 {
 	font-size: 24px;
 }

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

 /* Footer */
 footer.page-footer {
 	padding-top: 0;
 }
 footer.page-footer .footer-copyright {
 	background-color: inherit;
 }

 /* Icons */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Helpers */
.mt0 {
	margin-top: 0; !important;
}
.mt {
	margin-top: 1em; !important;
}

.ml {
	margin-left: 1em; !important;
}
.center {
	text-align: center; !important;
}
/* Buttons */
.btn-small {
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	padding: 0 1em;
}

.btn-small .material-icons {
	margin-left: 5px;
}

/* Buttons */
.section {
	padding-bottom: 0;
}
