<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Detail klienta</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!--  Scripts-->
	<script src="../static/js/jquery-2.1.1.min.js"></script>
	<script src="../static/js/materialize.js"></script>
	<script src="../static/js/init.js"></script>
</head>
<body class="blue-grey lighten-5">
<div class="container">
	<section class="section">
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<form id="j-form" th:action="@{/klient/submit}" th:object="${customerDetail}" action="/klient/submit" method="post">
						<div class="card-content">
							<span class="card-title" th:text="'Detail klienta (#' + ${#strings.toString(customerDetail.userId)} +')'">Detail klienta (#1)</span>
								<div class="row">
									<input id="id" type="number" th:value="${#strings.toString(customerDetail.userId)}" th:field="*{userId}" hidden="true"/>
									<div class="input-field col s6">
										<input minlength="6" maxlength="30" required="" id="birthNum" type="text" class="validate" value="180965/5678" th:value="${customerDetail.birthNum}" th:field="*{birthNum}"/>
										<label data-error="Délka musí být mezi 2 a 30" for="birthNum">Rodné číslo</label>
										<span style="color: red" th:if="${#fields.hasErrors('birthNum')}" th:errors="*{birthNum}"></span>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12 m6">
										<input minlength="2" maxlength="30" required="" id="firstname" type="text" class="validate" value="John" th:value="${customerDetail.firstname}" th:field="*{firstname}"/>
										<label data-error="Délka musí být mezi 2 a 30" for="firstname">Jméno</label>
										<span style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
									</div>
									<div class="input-field col s12 m6" >
										<input minlength="2" maxlength="30" required="" id="surname" type="text" class="validate" value="Doe" th:value="${customerDetail.surname}" th:field="*{surname}"/>
										<label data-error="Délka musí být mezi 2 a 30" for="surname">Příjmení</label>
										<span style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s8 m6">
										<input minlength="2" maxlength="30" required="" id="streetName" type="text" class="validate" value="Karlovo náměstí" th:value="${customerDetail.streetName}" th:field="*{streetName}"/>
										<label data-error="Délka musí být mezi 2 a 30" for="streetName">Ulice</label>
										<span style="color: red" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}"></span>
									</div>
									<div class="input-field inline col s4 m2">
										<input minlength="1" maxlength="30" required="" id="streetNum" type="number" class="validate" value="1" th:value="${customerDetail.streetNum}" th:field="*{streetNum}"/>
										<label data-error="Délka musí být mezi 1 a 30" for="streetNum">Číslo popisné</label>
										<span style="color: red" th:if="${#fields.hasErrors('streetNum')}" th:errors="*{streetNum}"></span>
									</div>
									<div class="input-field col s8 m4">
										<input minlength="6" maxlength="6" required="" id="postalCode" type="text" class="validate" value="128 00" th:value="${customerDetail.postalCode}" th:field="*{postalCode}"/>
										<label data-error="Délka musí být mezi 5 a 6" for="postalCode">PSČ</label>
										<span style="color: red" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
									</div>
									<div class="input-field col s12 m6">
										<input id="cityPart" type="text" class="validate" value="Praha 2-Nové Město" th:value="${customerDetail.cityPart}" th:field="*{cityPart}"/>
										<label for="cityPart">Městská část</label>
									</div>
										<div class="input-field col s12 m6">
											<input minlength="2" maxlength="30" required="" id="city" type="text" class="validate" value="Praha" th:value="${customerDetail.city}" th:field="*{city}"/>
											<label data-error="Délka musí být mezi 2 a 30" for="city">Město</label>
											<span style="color: red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
										</div>
										<div class="input-field col s12 m6">
											<input id="county" type="text" class="validate" value="Praha" th:value="${customerDetail.county}" th:field="*{county}"/>
											<label for="county">Kraj</label>
										</div>
										<div class="input-field col s12 m6">
											<input minlength="2" maxlength="30" required="" id="country" type="text" class="validate" value="Česká republika" th:value="${customerDetail.country}" th:field="*{country}"/>
											<label data-error="Délka musí být mezi 2 a 30" for="country">Stát</label>
											<span style="color: red"  th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
										</div>
										<div class="input-field col s12 m6">
											<input minlength="2" maxlength="30" required="" id="country" type="text" class="validate" value="Česká republika" th:value="${customerDetail.country}" th:field="*{country}"/>
											<label data-error="Délka musí být mezi 2 a 30" for="country">Stát</label>
											<span style="color: red"  th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
										</div>
								</div>
								<div class="row">
									<div class="input-field col s6 m2">
										<i class="material-icons prefix">phone</i>
										<input id="countryCode" type="number" class="validate" value="420" th:value="${customerDetail.countryCode}" th:field="*{countryCode}"/>
										<label for="countryCode">Předvolba</label>
									</div>
									<div class="input-field col s6 m2">
										<input id="cityCode" type="number" class="validate" value="" th:value="${customerDetail.cityCode}" th:field="*{cityCode}"/>
										<label for="cityCode">CityCode</label>

									</div>
									<div class="input-field col s12 m8">
										<input minlength="2" maxlength="30" required="" id="phoneNumber" type="tel" class="validate" value="4657689009" th:value="${customerDetail.phoneNumber}" th:field="*{phoneNumber}"/>
										<label data-error="Délka musí být mezi 2 a 30" for="phoneNumber">Telefon</label>
										<span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
									</div>
								</div>
							<div class="card-action j-normal">
								<div class="j-detail-button-container">
									<button type="button" class="btn btn-small yellow darken-2 j-edit">Změnit údaje
									</button>
									<button type="submit" class="btn btn-small red ml j-remove" name="action" value="remove">Odebrat
									</button>
									<button type="submit" class="btn btn-small red ml j-suspend" name="action" value="suspend">
										Suspendovat
									</button>
									<button type="submit" class="btn btn-small red ml j-refund" name="action" value="refund">
										Refundace
									</button>
								</div>

								<div class="j-edit-button-container">
									<button type="submit" class="btn btn-small green j-save j-new" name="action" value="save">Uložit
										změny
									</button>
									<button type="button" class="btn btn-small red ml j-cancel j-new">Zrušit úpravy
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
</body>
</html>
