<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Hlavní stránka</title>

	<!-- CSS  -->
	<link th:href="@{/css/materialize.css}" href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!--  Scripts-->
	<script th:src="@{/js/jquery-2.1.1.min.js}" src="../static/js/jquery-2.1.1.min.js"></script>
	<script th:src="@{/js/materialize.js}" src="../static/js/materialize.js"></script>
	<script th:src="@{/js/init.js}" src="../static/js/init.js"></script>
</head>
<body class="blue-grey lighten-5">
<nav class="blue-grey darken-4" role="navigation">
	<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
		<ul class="right hide-on-med-and-down">
			<li><i class="material-icons left">perm_identity</i><span th:text="${#httpServletRequest.remoteUser}">Jon Doe</span></li>
			<li class="ml"><a href="/logout" th:href="@{/logout}" class="btn btn-small red">Odhlásit</a></li>
		</ul>
	</div>
</nav>
<div class="container">
	<section class="section">
		<div class="row">
			<div class="col s12 m6">
				<h2>Seznam uživatelů</h2>
				<table class="striped" style="display: block;height: 65vh;overflow-y: scroll;">
					<thead>
						<tr>
							<th>Id uživatele</th>
							<th>Jméno a Příjmení</th>
							<th>Akce</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer: ${customerList}">
							<td th:text="${#strings.toString(customer.id)}">1</td>
							<td th:text="${customer.firstName + ' ' + customer.surname}" style="width:70%"></td>
							<td>
								<a target="_blank" th:href="@{~/klient/{id}(id= ${#strings.toString(customer.id)})}" class="btn btn-small waves-effect blue darken-2 j-detail">
									Detail <i class="material-icons right">pageview</i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination mt0">
					<li class="waves-effect j-previous-page" th:attr="'data-from'=${from},'data-count'=${count}"><a href="#"><i class="material-icons">chevron_left</i></a></li>
					<li class="waves-effect j-next-page" th:attr="'data-from'=${from},'data-count'=${count}"><a href="#"><i class="material-icons">chevron_right</i></a></li>
				</ul>
				<a class="btn green waves-effect mt0" th:href="@{~/klient/novy}" target="_blank">Nový klient<i class="material-icons right">note_add</i></a>
			</div>
			<div class="col s12 m6">
				<h2>Seznam požadavků</h2>
				<table class="striped" style="display: block;height: 70vh;overflow-y: scroll;">
					<thead>
					<tr>
						<th>Id požadavku</th>
						<th>Změny</th>
						<th>Akce</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="request : ${requestList}">
							<td th:text="${request.id}">1</td>
							<td th:text="${request}" style="width:70%">Carlos Palmer</td>
							<td> <button class="btn btn-small waves-effect red darken-1 j-delete-request" th:attr="data-id=${request.id}">Odebrat<i class="material-icons right">delete</i></button></td>
						</tr>
					</tbody>
				</table>
				<button class="btn blue waves-effect mt0 j-send-all" type="button" >Poslat všechny požadavky<i class="material-icons right">send</i></button>
			</div>
		</div>
	</section>
</div>
<footer class="page-footer blue-grey darken-4" th:replace="template :: footer">
	<div class="footer-copyright">
		<div class="container">
			©2016 Made by <a class="grey-text grey-lighten-3" href="http://dagytran.ninja">Tran Anh Duc</a> using <a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize CSS</a>
		</div>
	</div>
</footer>
</body>
</html>
