<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Starter Template - Materialize</title>

	<!-- CSS  -->
	<link th:href="@{/css/materialize.css}" href="../static/css/materialize.css" type="text/css" rel="stylesheet"
	      media="screen,projection"/>
	<link th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" rel="stylesheet"
	      media="screen,projection"/>
	<!--  Scripts-->
	<script th:src="@{/js/jquery-2.1.1.min.js}" src="../static/js/jquery-2.1.1.min.js"></script>
	<script th:src="@{/js/materialize.js}" src="../static/js/materialize.js"></script>
	<script th:src="@{/js/init.js}" src="../static/js/init.js"></script>

</head>
<body class="blue-grey lighten-5">
<nav class="blue-grey darken-4" role="navigation" th:fragment="navigation">
	<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
		<ul class="right hide-on-med-and-down">
			<li><i class="material-icons left">perm_identity</i><span th:text="${#httpServletRequest.remoteUser}">Nepřihlášený uživatel</span></li>
		</ul>
	</div>
</nav>
<div class="container" style="min-height: 85vh">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="card-panel center">
				<form method="POST" action="/login" th:action="@{/login}">
					<h2 class="form-heading"> Přihlášení</h2>
					<div class="input-field">
						<input type="text" id="username" name="username" autofocus="true"/><span class="highlight"></span><span class="bar"></span>
						<label class="active" for="username" data-error="Zadali jste neplatné uživatelské jméno nebo heslo" data-success="Přihlášení bylo úspěšné. :)">Uživatelské jméno</label>
					</div>
					<div class="input-field">
						<input type="password" id="password" name="password" data-error="Zadali jste neplatné uživatelské jméno nebo heslo" data-success="Přihlášení bylo úspěšné. :)" th:data-error="${error}" th:data-success="${message}"/><span class="highlight"></span><span class="bar"></span>
						<label class="active" for="password">Heslo</label>
					</div>
					<button type="submit" class="btn teal lighten-1 center-block waves-effect">Přihlásit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<footer class="page-footer blue-grey darken-4" th:fragment="footer">
	<div class="footer-copyright">
		<div class="container">
			©2016 Made by <a class="grey-text text-lighten-3" href="http://dagytran.ninja">Tran Anh Duc</a> using <a
				class="grey-text text-lighten-3" href="http://materializecss.com">Materialize CSS</a>
		</div>
	</div>
</footer>
</body>
</html>
