<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Starter Template - Materialize</title>

	<!-- CSS  -->
	<link th:href="@{/css/materialize.css}" href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!--  Scripts-->
	<script th:src="@{/js/jquery-2.1.1.min.js}" src="../static/js/jquery-2.1.1.min.js"></script>
	<script th:src="@{/js/materialize.js}" src="../static/js/materialize.js"></script>
	<script th:src="@{/js/init.js}" src="../static/js/init.js"></script>

</head>
<body>
<nav class="light-blue lighten-1" role="navigation" th:fragment="navigation">
	<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
		<ul class="right hide-on-med-and-down">
			<li><i class="material-icons left">perm_identity</i>John Doe</li>
			<li class="ml"><a href="/logout" th:href="@{/logout}" class="btn btn-small red">Odhlásit</a></li>
		</ul>
	</div>
</nav>
<footer class="page-footer blue-grey darken-4" th:fragment="footer">
	<div class="footer-copyright">
		<div class="container">
			©2016 Made by <a class="grey-text grey-lighten-3" href="http://dagytran.ninja">Tran Anh Duc</a> using <a class="grey-text grey-lighten-3" href="http://materializecss.com">Materialize CSS</a>
		</div>
	</div>
</footer>
</body>
</html>
